{% extends 'mainapp/base/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'cartapp/css/index.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="card mt-4 mb-4">
        <div id="CartWrapper">
            {% include 'cartapp/include/cart.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'cartapp/js/index.js' %}"></script>
{% endblock %}
