{% extends 'mainapp/base/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'mainapp/css/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <header class="bg-dark py-4">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for index, book in special_books %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ index }}"
                                {% if index == 0 %}class="active" aria-current="true"{% endif %}
                                aria-label="Slide 1"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for index, book in special_books %}
                        <div class="carousel-item {% if index == 0 %}active{% endif %}">
                            <a href="{{ book.get_absolute_url }}" class="d-flex test">
                                <img src="{{ book.image }}" alt="{{ book.name }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ book.name }}</h5>
                                    <p>{{ book.short_description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for book in books %}
                    <div class="col mb-5">

                        <div class="card h-100">
                            <a class="text-decoration-none text-dark" href="{{ book.get_absolute_url }}">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ book.image }}" alt="..."/>
                                <!-- Product details-->
                                <div class="card-body p-4">

                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ book.name }}</h5>
                                        <div class="d-flex justify-content-center small text-warning">
                                            {% for status_class in book.rating_as_stars %}
                                                <span class="{{ status_class }}"></span>
                                            {% endfor %}
                                        </div>
                                        <!-- Product price-->
                                        ₽{{ book.price }}
                                    </div>
                                    <div class="d-flex justify-content-center mt-2">
                                        {{ book.short_description }}
                                    </div>
                                </div>
                            </a>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button class="btn btn-outline-dark mt-auto" value="{{ book.slug }}"
                                            type="button" name="buyButton">В корзину <i class="bi bi-cart-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'utils/js/buy_buttons.js' %}"></script>
{% endblock %}
