{% extends 'mainapp/base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mainapp/css/search.css' %}">
{% endblock %}

{% block title %}
    Поиск
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <hgroup class="mb20">
            <button class="btn btn-primary mb-2" data-bs-toggle="collapse" data-bs-target="#filters">
                Фильтры
            </button>
            <div class="collapse mb-4" id="filters">
                <div class="card card-body">
                    <label for="flexRadioDefault2">Тип</label>
                    <div class="d-inline">
                        <input class="form-check-input ms-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked> Автор
                        <input class="form-check-input ms-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked> Книга
                        <input class="form-check-input ms-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked> Жанр
                    </div>
                </div>
            </div>
            <h1>Резутитаты поиска</h1>
            {% if results_quantity %}
                <h2 class="lead">Результаты поиска{% if query %} по запросу
                    <strong>"{{ query }}" ({{ results_quantity }})</strong>{% endif %}</h2>
            {% else %}
                <h2 class="lead">По запросу <strong> "{{ query }}"</strong> ничего не найдено</h2>
            {% endif %}
        </hgroup>
        {% if results_quantity %}
            <section class="col-xs-12 col-sm-6 col-md-12 mb-3">
                {% for book in books %}
                    {% include 'mainapp/include/search/search_book_list.html' %}
                {% endfor %}

                {% for author in authors %}
                    {% include 'mainapp/include/search/search_author_list.html' %}
                {% endfor %}

                {% for category in categories %}
                    {% include 'mainapp/include/search/search_category_list.html' %}
                {% endfor %}
            </section>
        {% endif %}
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'utils/js/buy_buttons.js' %}"></script>
{% endblock %}
