<article class="search-result row">
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="d-flex justify-content-center">
            <a href="#" title="Lorem ipsum">
                <img src="{{ author.image }}" alt="Lorem ipsum" class="author-image rounded-circle"/>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
            <li><i class="bi bi-palette"></i> <span>Автор</span></li>
            <li><i class="bi bi-book"></i> <span><a href="{{ author.books_page_url }}">Книги</a></span></li>
            <li><i class="bi bi-justify"></i> <span>{{ author.category.name }}</span></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
        <h3><a href="{% url 'mainapp:author_detail' slug=author.slug %}" title="Название" class="text-decoration-none">{{ author.full_name }}</a></h3>
        <p>{{ author.biography }}</p>
        <a href="{% url 'mainapp:author_detail' slug=author.slug %}">
            <button class="plus btn btn-primary">
                Узнать больше <i class="bi bi-person"></i>
            </button>
        </a>
    </div>
    <span class="clearfix borda"></span>
</article>